body {
  background: hsl(0, 0%, 0%);
}

.page {
  padding: 30px; 
  width: fit-content;
}

#page2 {
  background-color: #000000; 
  color: white;
  height: 950px; 
}

#labels-container {
  position: absolute;
  left: 66.5%; 
  transform: translateX(-50%); 
  z-index: -2; 
  top: -3.5%;

}

#labels-svg {
  width: 1230px; 
  height: 1230px;
}


#carouselExampleIndicators {
  margin: 0 auto;
  max-width: 100%; 
  margin-left: 100px;
}

#carouselExampleIndicators .carousel-control-prev,
#carouselExampleIndicators .carousel-control-next {
    width: 1%; 
}



/*hues of you title pic */
#intro .image-container { 
  width: 760px; 
  height: 340px; 
  overflow: hidden;
  position: absolute;
  z-index: -1; 
  top: -5%;
  left: -15px;
}

/*hues of you title pic */
#intro img { 
  width: 100%; 
  height: auto; 
  object-fit: cover;
}


div.tooltip {
  position: absolute;
  width: 40ch;
  font-family: "Cormorant Garamond", serif;
  font-size: 18px;
  background: WhiteSmoke;
  border: 0px;
  border-radius: 20px;
  padding: 10px;
  margin-left: 8px;
  pointer-events: none;
}


.bubble {
  stroke: white;
  stroke-width: 0.5px;
}

.bubble:hover {
  stroke: rgb(255, 255, 255);
  stroke-width: 2px;
}
  
#carousel-container {
  position: absolute;
  top:25%;
  left: 40px;
  width: 650px; /* Adjust width as needed */
  height: 40%;
  background-color: rgba(0, 0, 0, 0.065);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding-top: 1.5%;
  padding-left: 4%;
  padding-right: 3%;
  padding-bottom: 1%;
  text-align: center;
}

.carousel-slide {
  padding: 10px;
  font-family: "Cormorant Garamond", serif;
  color: blue;
  text-align: center;
}


#info-tooltip-container {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
  display: none;
  width: 40px;
}

.info-icon {
  position: absolute;
  top: 30px;
  left: 2100px;
  cursor: pointer;
  font-size: 50px; 
  color: #6f6f6f;
}

.info-tooltip {
  position: absolute;
  background-color: #a39d9d;
  padding: 10px;
  opacity: 0; 
  transition: opacity 0.2s;
  z-index: 1001;
  left: 1300px;
  top: 90px;
  width: 40%;
}


#allBoxes {
  position: absolute;
  width: 30%;
  bottom: 250px; 
  left: 125px;
  column-count: 2; 
  column-gap: 5px; 
}

#allBoxes input[type="checkbox"],
#allBoxes label {
  color: white;
  display: inline; 
  margin-bottom: 10px;
}

#allBoxes input[type="checkbox"] {
  margin-right: 7px;
}

/* #total {
  font-family: "Cormorant Garamond", serif;
  text-align: left;
  font-size: 20px;
  color: #e0e0e0;
  right: 190px;
  position: absolute;
  top: 700px;
} */

#checkLabel {
  font-size: 14px;
  color: white;
  font-family: "Cormorant Garamond", serif;
  left: 30px;
  top: 200px;
  position: absolute;
  width: 340px;
}
